@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');

* {
    /* line-height: 1.25rem; */
    line-height: 20px;
    outline: none !important;
}

.mx-datepicker {
    width: 140px
}

.mx-datepicker-range {
    width: 140px
}

html {
    scroll-behavior: smooth;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    border: 2px solid #d1d5db; /* Gray border */
    border-radius: 4px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
    outline: none;
  }
  
  /* Change background and border color when checked */
  input[type="checkbox"]:checked {
    background-color: #dab37d; /* Checked background color */
    border-color: #dab37d; /* Checked border color */
  }

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    /* transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0); */
    transition-duration: 500ms;
    /* transition-delay: 100ms;  */
}

@media (min-width: 640px) {

    .container,
    .container-sm {
        max-width: 640px;
    }
}

@media (min-width: 768px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1536px;
    }
}

.svg_icn {
    /* height: -webkit-fit-content; */
    width: -webkit-fit-content;
    display: flex;
}